.getstarted {
    display: block;
    width: 100vw;
    overflow: hidden;
}

.getstarted__center {
    width: 100vw;
}

.getstarted__center h1 {
    /* min-width: 600px; */
    font-size: 3.425rem;
    margin-bottom: 20px;
}

.getstarted__center h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.getstarted__center h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.floating-form {
    margin-top: 30px;
    display: flex;
    margin-left: 20%;
    margin-right: 25%;
}


/****  floating-Lable style start ****/

.floating-label {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    flex: 1;
}

.floating-input {
    font-size: 1.1rem;
    height: 60px;
    background-color: #fff;
    padding: 4px 8px;
    display: block;
    width: 100%;
    border: none;
    /* border-bottom: 1px solid #757575; */
}

.floating-input:focus {
    outline: none;
    /* border-bottom: 2px solid #5264AE; */
}

label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    padding-top: 13px;
    left: 8px;
    top: 8px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
    top: -8px;
    font-size: 12px;
}


/* active state */

.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after {
    width: 50%;
}

.getstarted_btn {
    height: 60px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    font-size: 1.2rem;
    vertical-align: middle;
}

.getstarted_btn {
    background-color: #F40612;
}

@media screen and (max-width: 600px) {
    .getstarted__center h1 {
        font-size: 2rem;
        margin-bottom: 18px;
        text-align: center;
    }
    .getstarted__center h2 {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 24px;
    }
    .getstarted__center h3 {
        font-size: 1rem;
        font-weight: 400;
    }
    .floating-form {
        width: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .floating-label {
        width: calc(100vw - 30%);
        margin-bottom: 46px;
    }
    .floating-input {
        height: 55px;
    }
    .getstarted_btn {
        height: 44px;
        vertical-align: middle;
    }
}