.profilePage {
    color: #fff;
}

.profilePage__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8%;
    max-width: 800px;
}

.profilePage__body>h1 {
    font-size: 2.6rem;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profilePage__info {
    display: flex;
    align-items: flex-start;
}

.profilePage__info>img {
    width: 100px;
    object-fit: contain;
}

.profilePage__details {
    flex: 1;
    color: #fff;
    margin-left: 25px;
}

.profilePage__details>h2 {
    background-color: grey;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    width: 100%;
    border: none;
    color: #fff;
}

.profilePage__details>input:focus {
    outline: none;
}

.profilePage__signgout__btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    margin-top: 5%;
    color: #fff;
    cursor: pointer;
    background-color: #e50914;
    font-weight: 600;
    width: 100%;
}

.profilePage__signgout__btn:focus {
    outline: none;
}

.profilePage__plans {
    margin-top: 20px;
}

.profilePage__plans>h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.profilePage__plan__Wrapper {
    padding: 10px;
}

.profilePage__plan {
    display: flex;
    justify-content: space-between;
    padding: 15px 1px;
}

.profilePage__plan>h2 {
    font-weight: 400;
    font-size: 1.25rem;
}

.profilePage__plan__btn {
    border: none;
    padding: 10px 20px;
    background-color: #e50914;
    cursor: pointer;
    color: #fff;
}

.profilePage__plan__btn-disabled {
    border: none;
    padding: 10px 20px;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    color: #fff;
}

.react-responsive-modal-modal {
    background-color: #111 !important;
    border-radius: 6px;
}

.model__wrap {
    padding: 20px;
    color: rgba(255, 255, 255, 0.562);
}

.model__wrap>h2 {
    padding: 10px 1px;
}

.model__wrap>input {
    padding: 8px 1px;
    margin-bottom: 20px;
}

#close__model__IconId>svg {
    fill: #fff;
}

.profilePage__amount__field {
    border: 1px solid rgba(128, 128, 128, 0.658);
    padding: 7px 5px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    width: 100%;
}

.profilePage__amount__field:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    .profilePage__body {
        padding-top: 15%;
    }
    .profilePage__body>h1 {
        font-size: 2rem;
        text-align: center;
        padding-bottom: 17px;
    }
    .profilePage__info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .profilePage__info>img {
        width: 75px;
        object-fit: contain;
    }
    .profilePage__details {
        padding-top: 24px;
    }
    .profilePage__plan__btn-disabled {
        padding: 8px 10px;
    }
    .profilePage__plan__btn {
        padding: 5px 10px;
    }
}

@keyframes customEnterOverlayAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes customLeaveOverlayAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes customEnterModalAnimation {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes customLeaveModalAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2);
    }
}