.searchPage {
    color: #fff;
    padding-top: 73px;
}

.searchPage>h1 {
    color: #fff;
    padding-left: 2.3rem;
}

.searchPage__content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}